*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-board{
  height: 72vh; 
  width: 72vh;
  border: 2px solid black;
  margin: 5% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  
}

.card{
  height: 20%;
  width: 20%;
  border: 1px solid black;
  margin: 1%;
  position: relative;
  transform-style: preserve-3d;
 
  transition: transform 2s ease;
}
.card:hover{
  transform: rotateY(180deg);
  cursor: pointer;
}
.back, 
.front{
  width: 100%;
  height: 100%;
  position:absolute
}
.back{
  background-image:url('./IMG/card-back.jpg');
  
}
