*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
  border: 1px solid #bc5128;
  padding:5%;
  background-color: #fcf6dd;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title{
  font-size: 300%;
  letter-spacing: 4px;
  font-weight: 200;
  color: #181508;
  margin-bottom: 5%;
}
.scoreTrackers{
  display: grid; 
  grid-template-columns: repeat(3, 16rem);
  grid-gap: 2rem;
  text-align: center;
  margin-bottom: 5%;
  border-radius: 2px;
}
.score{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:#bc5128;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
p{
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 130%;
}
#reset{
  padding: 3%;
  font-size:120%;
  background-color:#EC6633;
  color: white;
  border: none;
  letter-spacing: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.game-board{
display: grid; 
grid-template-columns: repeat(4, 10rem);
grid-template-rows: repeat(4, 10rem);
flex-direction: column;
grid-gap: 3rem;
perspective: 800px;
}

.card{
  position: relative;
  transform-style: preserve-3d;
  transition: all 3s;
  transform:  rotateY(0deg);
  box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
}
.cards:hover{
  cursor: pointer;
}
.back, 
.front{
  width: 100%;
  height: 100%;
  position:absolute;
  pointer-events: none;
}
.cardImage{
  height: 100%;
  width: 100%;
}
.back{
  background-repeat: no-repeat;
  background-size: contain;
}
.toggleCard{
  transform: rotateY(180deg);
}
.red{
  background-color: red;
}
.white{
  background-color: white;
}
.green{
  background-color: green;
}
.hidden{
  display: none;
}
.show{
  display: block;
}