*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-container{
  display: flex;
  min-width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  border: 1px solid #bc5128;
  padding:3% 0%;
  background-color: #fcf6dd;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title{
  font-size: 300%;
  letter-spacing: 4px;
  font-weight: 200;
  color: #181508;
  margin-bottom: 3%;
  padding: 2%;
  text-align: center;
}
.score-trackers{
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 3%;
  border-radius: 2px;
  width: fit-content;
  background-color:#bc5128;
}
.score{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:#bc5128;
  padding: 5%;
  margin: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
p{
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 130%;
}
#reset{
  padding: 3%;
  font-size:120%;
  background-color:#EC6633;
  color: white;
  border: none;
  letter-spacing: 2px;
  margin: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.game-board{
display: grid; 
grid-template-columns: repeat(4, 16vh);
grid-template-rows: repeat(4, 16vh);
flex-direction: column;
grid-gap: 1vh;
perspective: 800px;
}

.card{
  position: relative;
  transform-style: preserve-3d;
  transition: all 3s;
  transform:  rotateY(0deg);
  box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
}
.cards:hover{
  cursor: pointer;
}
.back, 
.front{
  width: 100%;
  height: 100%;
  position:absolute;
  pointer-events: none;
}
.cardImage{
  height: 100%;
  width: 100%;
}
.back{
  background-repeat: no-repeat;
  background-size: contain;
}
.hidden{
  display: none;
}

